.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}
.page-header .navbar-nav{ float: right;}
.page-header>div>div, .page-header>div>ul {
  display:inline-block;
}
#text-edit{
  padding: 13px 0 0px 0;
}
.account {
  text-align:right;
}
.account>div , .account>ul {
  text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}


.content {
    margin-top:70px;
    width:100%;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*Media Queries*/
@media only screen and (max-width : 1279px),
only screen and (max-device-width : 1279px){
    .container {
        width: 980px;
    }
}


@media only screen and (max-width : 979px),
only screen and (max-device-width : 979px){
    .container {
        width: 680px;
    }
}

@media only screen and (max-width : 679px),
only screen and (max-device-width : 679px){
    .container {
        width: 380px;
    }
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

body {
    background-color: buttonface;
}