<section>
    <div masonry preserve-order class="gridItems">
        <div class="masonry-brick list-item"  data-ng-repeat="post in combined = myPosts.concat(friendPosts)">
            <div class="item">
                <div class="item-img-container">
                    <a ui-sref="posts.details({postId:post.post_id})">
                        <img class="img-responsive" ng-src="{{getPhotoSrc(post)}}">
                    </a>
                </div>

                <div class="itemMessage">
                    <span>{{post.message | truncate:100}}</span>
                </div>

                <div class="creditsMessage">
                    <div>{{post.like_info.like_count}} <i class="glyphicon glyphicon-thumbs-up"></i></div>
                    <div>{{post.comment_info.comment_count}} <i class="glyphicon glyphicon-comment"></i></div>
                    <div>{{post.share_count}} <i class="glyphicon glyphicon-share-alt"></i></div>
                </div>
            </div>
            <!--post details view-->
            <div ui-view></div>
        </div>
    </div>
</section>
<div class="alert alert-info text-center" data-ng-click="morePosts()">Load more</div>