<section data-ng-init="init()">
    <ul class="gridItems">
        <li class="list-item"  data-ng-repeat="post in myPosts.data">
            <div class="item">
                <a ng-click="selectPost(post)">
                    <img ng-src="{{getPhotoSrc(post)}}"/>
                </a>

                <div class="itemMessage">
                    <span>{{post.message | truncate:100}}</span>
                </div>

                <div class="creditsMessage">
                    <div>{{post.like_info.like_count}} <i class="glyphicon glyphicon-thumbs-up"></i></div>
                    <div>{{post.comment_info.comment_count}} <i class="glyphicon glyphicon-comment"></i></div>
                    <div>{{post.share_count}} <i class="glyphicon glyphicon-share-alt"></i></div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!--<div class="row" ng-show="selectedPost != null">-->
    <!--<div class="col-lg-4 col-md-4 col-sm-4 post-box">-->

        <!--<img ng-click="selectPost(null)" class="img-responsive img-thumbnail"-->
             <!--ng-src="{{getPhotoSrc(selectedPost)}}">-->

    <!--</div>-->
    <!--<div class="col-lg-8 col-md-8 col-sm-8">-->
        <!--<div class="media-body">-->
            <!--<h4 class="media-heading">Comments</h4>-->

            <!--<div ng-class-even="'even_comment'" ng-repeat="comment in selectedPost.comments.data">-->
                <!--{{comment.text}}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
